<!-- Home Page -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>2018 Player Info</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="home.html">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">One Link<span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Another Link</a>
		  </li>
		</ul>
		<div class="form-inline my-2 my-lg-0">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div>
	  </div>
	</nav>

        <div class="page-header jumbotron">
          <h1>Theo Lincke</h1>
          <p>I an American open source software engineers with contributions to the Arch Linux Kernel (bootloader) and a love of UNIX network programming. I specialize in embedded flight software technologies and data transport</p>
        </div>
        <div class="text-center mx-auto">
          <h2>Professional Profile</h2>
          <div class="container">
            <div class="btn-group" style="padding-top:50px; padding-bottom: 50px;">
              <a href="https://github.com/tlincke125" class="btn btn-primary active">
                Github
              </a>
            </div>
          </div>
          <div class="container">
            <img class="img-rounded" src="../resources/imgs/car.gif" height="500" width="400"/>
          </div>
        </div>

        <div class="container">
          <h3>Featured Projects</h3>
          <table class="table-bordered">
          <div class="border row">

            <div class="border col-2">
              <b>Project Name</b>
            </div>

            <div class="border col-6">
              <b>Description</b>
            </div>

            <div class="border col-4">
              <b>Technologies</b>
            </div>

          </div>
          <div class="row">

            <div class="border col-2">
              <a href="https://github.com/curmc/sentinet">Sentinet</a> 
            </div>

            <div class="border col-6">
              <p>A Robust Robotic Framework in C++17</p>
            </div>

            <div class="border col-4">
              Modern C++17. UNIX Sockets, ZMQ, Sentinet_message_pkg (see bellow)
            </div>

          </div>
          <div class="row">

            <div class="border col-2">
              <a href="https://github.com/tlincke125/cTensor">CTensor</a> 
            </div>

            <div class="border col-6">
              <p>A Neural Network and Linear Algebra Library from the Ground Up in C++11</p>
            </div>

            <div class="border col-4">
              C++ 11 OpenCV4
            </div>

          </div>
          <div class="row">

            <div class="border col-2">
            <a href="https://github.com/curmc/sentinet_message_pkg">Sentinet Message Package</a>
            </div>

            <div class="border col-6">
              <p>A Crazy Fast Serialization Library</p>
            </div>

            <div class="border col-4">
              Primarily C99 some C11. UNIX Sockets
            </div>

          </div>
          <div class="row">

            <div class="border col-2">
            <a href="https://github.com/tlincke125/rubiksCube">Rubiks Cube</a> 
            </div>

            <div class="border col-6">
              <p>An any Dimensional Rubiks Cube Solver</p>
            </div>

            <div class="border col-4">
              Java
            </div>

          </div>
          </table>
        </div>


        <br>
        <div class="container">
          <table class="table-bordered">
            <div class="row">
              <div class="border col-6">
                <br>
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Countries Traveled
                  </a>
                </p>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                    <ul>
                      <li>Sweden</li>
                      <li>United States</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="border col-6">
                <br>
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#collapseInterests" role="button" aria-expanded="false" aria-controls="collapseInterests">
                    Interests
                  </a>
                </p>
                <div class="collapse" id="collapseInterests">
                  <div class="card card-body">
                    <ol>
                      <li>Coding</li>
                      <li>Robotics</li>
                      <li>Linux (Arch, Ubuntu, Gentoo)</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <br>
        <div class="container">
          <h2>Modal Example</h2>
          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Example Modal</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

        </div>








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
